.navbar{
    font-family: Poppins;
}

.bg-dark{
    background: #E2C044 !important;
    color: #202119 !important;
}

.nav-link{
    color: #202119 !important;
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    color: #202119 !important;
}

section#main, section#about, section#portfolio, section#contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Section */
.showcase{
    text-align: center;
}

.showcase h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.showcase p{
    font-size: 1.5rem;
}

img{
    width: 100%;
}

/* About Section */
.about-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.about-us .abt-content, .contact-us .con-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about-us .abt-content h2, .contact-us .con-content h2{
    font-weight: bold;
    font-size: 2rem;
}

.about-us .abt-content p, .contact-us .con-content p{
    font-size: 1.2rem;
}

/* Portfolio Section */

.our-works {
    display: flex;
}

.work{
    margin: 20px;
}

.our-works .card{
    display: flex;
    flex-direction: column;
}

.our-works .card .card-content{
    background: #202119;
    color: #F3F3F3;
    padding: 20px ;
    text-align: justify;
}

.our-works .card .card-content h3{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.btn{
    display: inline-block;
    padding: 10px 15px;
    background: #F3F3F3;
    color: #202119;
    margin-top: 15px;
}

/* Contact Section */
.contact-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact-us .con-content{
    padding: 0 10px;
}

.contact-us .form-right h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

@media (max-width: 500px){
    section#main, section#about, section#portfolio, section#contact {
        height: auto;
        padding: 25px 0;
    }

    /* About Section */
    .about-us{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .our-works {
        display: flex;
        flex-direction: column;
    }

    /* Contact Section */
    .contact-us{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    
}
